extends layouts/layout.pug
prepend head
  meta(charset='UTF-8')
  title Deck form
  link(rel="stylesheet", href="/stylesheets/style-personal-card.css", attr)
block content
  #gameZone
    #info
      #avatar
        #avatarImg
          img(src='/images/ghost.jpg')
        #frameworkAvatar
          img(src='/images/avatar.png')
      #frameName
        img(src='/images/name.png', alt='')
      #textName
        p=user.name
      #frameLevel
        img(src='/images/level.png', alt='')
      #textLevel
        p Lv 5
    #playBtn
      #framePlayBtn
        img(src='/images/play-game.png', alt='')
      a(href="/api/games/")
        #textPlayBtn
          p Play Online
    #exitBtn
      #frameExitBtn
        img(src='/images/exit.png', alt='')
      a(href="/api/auth/logout")  
        #textExitBtn
          p Log out
    #paginate    
      button#back
        img(src="/images/left.png" , alt="")
      button#next
        img(src="/images/right.png", alt="")
    #cardCollection
      .grid
        each val in cards
          .card.item(card=JSON.stringify(val))
            .titleCard
              p= val.name
            .monsterImg
              img(src=`/images/monster/${val.avatar}`, alt='')
              .grade
                p= val.grade
              .cost
                img(src='/images/point.png', alt='')
                p= val.cost
              .description
                p= val.effect.description 
              .attack
                p= val.attack
                img(src='/images/attack.png', alt='')
              .health
                img(src='/images/life.png', alt='')
                p= val.health
    div
      span#deck_length
      span /25
    #chooseAndSaveDeck
      select#deck_num(name="deck_num")
        option(value=deck_id) Deck 1
        option(value=2) Deck 2
        option(value=3) Deck 3
      #save 
        img(src="/images/save.png")
        p Save
        #infoSaved
    #deck

append foot
  script(src="/javascripts/deck.js")